body {
  padding-top: 50px;
}
.center {
  margin: auto;
  text-align: center;
}
.panel {
  margin-top: 20px;
}
.panel-body.prediction-text > div {
  width: 40%;
  margin: auto;
  margin-top: 8px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px;
}
