body {
  padding-top: 50px;
}
.center {
  margin: 20px auto;
  text-align: center;
}
.outline {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.panel {
  margin-top: 20px;
}
.panel.prediction,
.nav.prediction {
  width: 90%;
  max-width: 725px;
  margin: 20px auto;
}
.nav.prediction {
  //margin-bottom: 0;
  width: 100%;
}

.panel-body.prediction-text > div {
  width: 40%;
  margin: auto;
  margin-top: 8px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px;
}

@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a  {
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: -1 !important;
  }
  .nav-justified > li.active > a  {
    border-bottom: 1px solid transparent !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: -1 !important;
  }
}